<h1> My Tasks </h1>

<ul>
  <% @tasks.each do |task| %>
    <% if task.completed %> 
      <li><input type='checkbox' checked onclick="return false;"> -  <%=link_to task.title, task_path(task) %> - 
      <%= link_to 'Edit', edit_task_path(task), class: 'edit-button'%> -
      <%= link_to "Delete this Task", 
                   task_path(task),
                   method: :delete,
                   data: { confirm: "Are you sure?" }%></li>
    <%else%>
      <li><input type='checkbox' onclick="return false;"> - <%=link_to task.title, task_path(task) %> - 
      <%= link_to 'Edit', edit_task_path(task), class: 'edit-button'%> - 
      <%= link_to "Delete this Task", 
                   task_path(task),
                   method: :delete,
                   data: { confirm: "Are you sure?" }%></li>
    <%end%>
  <%end%>
</ul>

<%= link_to 'create new task', new_task_path, class: "create_new"%>